<!DOCTYPE html>
<html>

	<head>
		<title>Contacts</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<style>
			.inline {
				display: inline;
			}
			.none {
				display: none;
			}
			.right {
				float: right;
				margin-right: 10px;
			}
			.message {
				margin-bottom: 15px;
				margin-top: 25px;
			}
		</style>
		
		<link rel="shortcut icon" href="icon.png" />
		<link rel="stylesheet" href="css/dialogs.css">
		<link rel="stylesheet" href="css/bootstrap.css">
		<link rel="stylesheet" href="css/font-awesome.min.css">
		<link rel="stylesheet" href="css/bootstrap.min.css">		
		
	</head>
	
	<body class="none" id="body" ng-app="contactsApp" ng-controller="mainCtrl" >		
		<div > 
			<div class="col-md-8 col-md-offset-2">
				<div>
					<br>
					
					<h2 class="inline">Contacts</h2>
										
					<button type="button" class="btn btn-default right" ng-click="add()">
					  <span class="glyphicon glyphicon-plus-sign"></span> Add
					</button>
					
					<button type="button" class="btn btn-default right" ng-click="search()">
					  <span class="glyphicon glyphicon-search"></span> Search
					</button>
					
					<br>
				</div>
				
				<form>
					<div class="form-group">
					   <br>
					  <label for="usr">Name</label>
					  <input type="text" class="form-control" id="name" ng-model="name">
					</div>
					
					<div class="form-group">
					  <label for="pwd">Address</label>
					  <input type="text" class="form-control" id="address" ng-model="address">
					</div>
					
					<div class="form-group">
					  <label for="pwd">Home Phone</label>
					  <input type="text" class="form-control" id="homePhone" ng-model="homePhone">
					</div>
					
					<div class="form-group">
					  <label for="pwd">Cell Phone</label>
					  <input type="text" class="form-control" id="cellPhone" ng-model="cellPhone">
					</div>
					
					<div class="form-group">
					  <label for="pwd">Email</label>
					  <input type="email" class="form-control" id="email" ng-model="email">
					</div>
					
					<br>
					
				</form>
				
				<div ng-show="msg!=undefined" class="alert alert-warning" ng-bind="msg"></div>
				
				<div class="table-responsive">          
				  <table class="table">
					<thead>
					  <tr>
						<th>Index</th>
						<th>Name</th>
						<th>Address</th>
						<th>Home Phone</th>
						<th>Cell Phone</th>
						<th>Email</th>
						<th>Details</th>
						<th>Remove</th>
					  </tr>
					 </thead>
					 <tbody>
					  <tr ng-repeat="c in contacts">
						<td>{{$index + 1}}</td>
						<td ng-bind="c.name"></td>
						<td ng-bind="c.address"></td>
						<td ng-bind="c.homePhone"></td>
						<td ng-bind="c.cellPhone"></td>
						<td ng-bind="c.email"></td>
						<td><button class="btn btn-link" ng-click="edit(c)"><span class="glyphicon glyphicon-blackboard"></span></button></td>
						<td><button class="btn btn-link" ng-click="remove(c)"><span class="glyphicon glyphicon-remove"></span></button></td>
					  </tr>
					</tbody>
				  </table>
				</div>
			</div>
		</div>
				
		<script src="js/jquery.min.js"></script>
		<script src="js/angular.min.js"></script>
		<script src="js/angular-route.min.js"></script>
		<script src="js/angular-sanitize.min.js"></script>
		<script src="js/angular-translate.min.js"></script>
		<script src="js/ui-bootstrap-tpls.min.js"></script>
		<script src="js/dialogs.min.js"></script>		
		<script src="js/contactsApp.js"></script>
		<script src="app.js"></script>
				
	</body>

</html>