<div class="panel panel-default">
    <div class="panel-body form-horizontal payment-form">
        <div class="form-group">
            <label for="name" class="col-md-2 control-label">Name</label>
            <div class="col-md-9">
                <input type="text" class="form-control" id="name" name="name" ng-model="data.event.name">
             
            </div>
        </div>
        <div class="form-group">
            <label for="address" class="col-md-2 control-label">Description</label>
            <div class="col-md-9">
                <input type="text" class="form-control" id="description" name="description" ng-model="data.event.description">
            </div>
        </div>         
        <div class="form-group">
           <label for="startDate" class="col-md-2 control-label">Start Date</label>
           <div class="col-md-9">
	           <div class="input-group">
		           <input type="text" class="form-control" id="startDate" datepicker-popup-persian="dd-MMMM-yyyy" ng-model="data.event.startDate" is-open="startDateDialogOpen"  ng-required="true" close-text="close" />
	               <span class="input-group-btn">
	             	  <button type="button" class="btn btn-default" ng-click="openStartDateDialog($event)"><i class="glyphicon glyphicon-calendar"></i></button>
		           </span> 
	           </div>
           </div>
        </div>
        <div class="form-group">
           <label for="endDate" class="col-md-2 control-label">End Date</label>
           <div class="col-md-9">
	           <div class="input-group">
		           <input type="text" class="form-control" id="endDate" datepicker-popup-persian="dd-MMMM-yyyy" ng-model="data.event.endDate" is-open="endDateDialogOpen"  ng-required="true" close-text="close" />
	               <span class="input-group-btn">
	             	  <button type="button" class="btn btn-default" ng-click="openEndDateDialog($event)"><i class="glyphicon glyphicon-calendar"></i></button>
		           </span> 
	           </div>
           </div>
        </div>

        <div>
        	<div ng-show="msg!=undefined" class="alert alert-warning" ng-bind="msg"></div>
        </div>
        <div class="form-group">
            <div class="col-md-11 text-right">
                <button type="button" class="btn btn-default preview-add-button" ng-click="update()">
                   Update
                </button>
                 <button type="button" class="btn btn-default preview-add-button" ng-click="exit()">
                   Close
                </button>
            </div>
        </div>
    </div>
</div>            
