<div class="panel panel-default">
    <div class="panel-body form-horizontal payment-form">
        <div class="form-group">
            <label for="name" class="col-md-2 control-label">Name</label>
            <div class="col-md-9">
                <input type="text" class="form-control" id="name" name="name" ng-model="data.contact.name">
                
            </div>
        </div>
        <div class="form-group">
            <label for="address" class="col-md-2 control-label">Address</label>
            <div class="col-md-9">
                <input type="text" class="form-control" id="address" name="address" ng-model="data.contact.address">
            </div>
        </div> 
        <div class="form-group">
            <label for="homePhone" class="col-md-2 control-label">Home Phone</label>
            <div class="col-md-9">
                <input type="text" class="form-control" id="homePhone" name="homePhone" ng-model="data.contact.homePhone">
            </div>
        </div>
        <div class="form-group">
            <label for="cellPhone" class="col-md-2 control-label">Cell Phone</label>
            <div class="col-md-9">
                <input type="text" class="form-control" id="cellPhone" name="cellPhone" ng-model="data.contact.cellPhone">
            </div>
        </div>
        <div class="form-group">
            <label for="email" class="col-md-2 control-label">Email</label>
            <div class="col-md-9">
                <input type="email" class="form-control" id="email" name="email" ng-model="data.contact.email">
            </div>
        </div>
        <div>
        	<div ng-show="msg!=undefined" class="alert alert-warning" ng-bind="msg"></div>
        </div>
        <div class="form-group">
            <div class="col-md-11 text-right">
                <button type="button" class="btn btn-default preview-add-button" ng-click="update()">
                   Update
                </button>
                 <button type="button" class="btn btn-default preview-add-button" ng-click="exit()">
                   Close
                </button>
            </div>
        </div>
    </div>
</div>            
