<!DOCTYPE html>
<html>

	<head>
		<title>Events</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<style>
			.inline {
				display: inline;
			}
			.none {
				display: none;
			}
			.right {
				float: right;
				margin-right: 10px;
			}
			.message {
				margin-bottom: 15px;
				margin-top: 25px;
			}
		</style>
		
		<link rel="shortcut icon" href="icon.png" />
		<link rel="stylesheet" href="css/dialogs.css">
		<link rel="stylesheet" href="css/bootstrap.css">
		<link rel="stylesheet" href="css/font-awesome.min.css">
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<link rel="stylesheet" href="css/angular-material.min.css">
		<link rel="stylesheet" href="css/angular-material-docs.css">			
		
	</head>
	
	<body class="none" id="body" ng-app="eventsApp" ng-controller="mainCtrl" >		
		<div > 
			<div class="col-md-8 col-md-offset-2">
				<div>
					<br>
					
					<h2 class="inline">Events</h2>
										
					<button type="button" class="btn btn-default right" ng-click="add()">
					  <span class="glyphicon glyphicon-plus-sign"></span> Add
					</button>
					
					<button type="button" class="btn btn-default right" ng-click="search()">
					  <span class="glyphicon glyphicon-search"></span> Search
					</button>
					
					<br>
				</div>
				
				<form>
					<div class="form-group">
					   <br>
					  <label for="name">Name</label>
					  <input type="text" class="form-control" id="name" ng-model="name">
					</div>
					
					<div class="form-group">
					  <label for="description">Description</label>
					  <input type="text" class="form-control" id="description" ng-model="description">
	           	  	</div>
					
					<div class="form-group">
			           <label for="startDate">Start Date</label>
			           <div class="input-group">
				           <input type="text" class="form-control" id="startDate" datepicker-popup-persian="dd-MMMM-yyyy" ng-model="startDate" is-open="startDateDialogOpen"  ng-required="true" close-text="close" />
			               <span class="input-group-btn">
			             	  <button type="button" class="btn btn-default" ng-click="openStartDateDialog($event)"><i class="glyphicon glyphicon-calendar"></i></button>
				           </span> 
			           </div>
			        </div>
					
					<div class="form-group">
			           <label for="endDate">End Date</label>
			           <div class="input-group">
				           <input type="text" class="form-control" id="endDate" datepicker-popup-persian="dd-MMMM-yyyy" ng-model="endDate" is-open="endDateDialogOpen"  ng-required="true" close-text="close" />
			               <span class="input-group-btn">
			             	  <button type="button" class="btn btn-default" ng-click="openEndDateDialog($event)"><i class="glyphicon glyphicon-calendar"></i></button>
				           </span> 
			           </div>
			        </div>
										
					<br>
					
				</form>
				
				<div ng-show="msg!=undefined" class="alert alert-warning" ng-bind="msg"></div>
				
				<div class="table-responsive">          
				  <table class="table">
					<thead>
					  <tr>
						<th>Index</th>
						<th>Name</th>
						<th>Description</th>
						<th>Start Date</th>
						<th>End Date</th>
						<th>Details</th>
						<th>Remove</th>
					  </tr>
					 </thead>
					 <tbody>
					  <tr ng-repeat="e in events">
						<td>{{$index + 1}}</td>
						<td ng-bind="e.name"></td>
						<td ng-bind="e.description"></td>
						<td ng-bind="e.startDate | jalaliDate:'jYYYY/jMM/jDD'"></td>
						<td ng-bind="e.endDate | jalaliDate:'jYYYY/jMM/jDD'"></td>
						<td><button class="btn btn-link" ng-click="edit(e)"><span class="glyphicon glyphicon-blackboard"></span></button></td>
						<td><button class="btn btn-link" ng-click="remove(e)"><span class="glyphicon glyphicon-remove"></span></button></td>
					  </tr>
					</tbody>
				  </table>
				</div>
			</div>
		</div>
				
		<script src="js/jquery.min.js"></script>
		<script src="js/angular.min.js"></script>
		<script src="js/angular-animate.min.js"></script>
		<script src="js/angular-route.min.js"></script>
		<script src="js/angular-aria.min.js"></script>
		<script src="js/angular-messages.min.js"></script>
		<script src="js/svg-assets-cache.js"></script>
		<script src="js/angular-material.min.js"></script>
		<script src="js/angular-sanitize.min.js"></script>
		<script src="js/angular-translate.min.js"></script>
		<script src="js/ui-bootstrap-tpls.min.js"></script>
		<script src="js/dialogs.min.js"></script>
		<script src="js/persiandate.js"></script>		
		<script src="js/persian-datepicker-tpls.js"></script>		
		<script src="js/moment.min.js"></script>	
		<script src="js/moment-jalali.js"></script>
		<script src="js/eventsApp.js"></script>
		<script src="app.js"></script>
				
	</body>

</html>